<!DOCTYPE html>
<html>
  <head>
    <title>TwitterApp</title>
    <header>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <div class="navbar navbar-inverted navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        
          <span class="icon-bar"><b>messages</span>
          <span class="icon-bar">services</span>
          <span class="icon-bar">about us</b></span>
          <h1>WELCOME TO TWITTER CLONE APPLICATION</h1>
    </header>
  </head>

  
  <body>
    <%= yield %>
  </body>
  <footer class = "foot">
    <p>Developped by: KAVUNA Paul</p>
    <p>Contact information: <a href="https://mail.google.com/mail/u/0/?hl=en#inbox"> pkavuna@gmail.com</a>.</p>
  </footer>
=======
        
  </head>


  <body>
    <%= yield %>
  </body>
</html>
